{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Student Add/Edit</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h2>Add/Edit Students Here</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{% url 'student_list' %}" class="btn btn-warning">Cancel</a>
        </form>
    </div>
</body>
</html>