{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script> -->
    <link href="{% static 'src/output.css' %}" rel="stylesheet">
    <title>Document</title>
</head>
<body class="text-center min-h-screen flex flex-col justify-center items-center">
    <div>
        <h1 class="bg-pink-500/[71.37%] mb-4">Welcome to my page</h1>
        <p class="bg-sky-500/40">Hello world</p>
    </div>
    <!-- <img src="{% static 'images/sample.jpg' %}" alt="Sample Image"> -->
</body>
</html>